<!doctype html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@100&family=Oswald:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css">
     </head>
     <body>
       <div class="content">
       <div id="logo">
       <span class="logohead" id="logoh">HODLINFO</span>.com
       <p class="sponsor">Powered by <span class="logohead">Finstreet</span></p>
       </div>

       <div id="inr"><p>INR <i class="fas fa-sort-down"> </i> </p></div>
       <div id="btc"><p>BTC <i class="fas fa-sort-down"> </i> </p></div>
       <p id="no"> 58 </p>
       <i class="fab fa-telegram-plane"> <a href="#">Connect Telegram</i></a></br>
       <i class="fas fa-toggle-on fa-2x"> </i>
       <div id="theader">#     Name      Last      Buy/Sell_Price     Volume      Base_unit</div>
     </div>
       <div id="btcinr" class="items">
          1 <%= namea %>  &#8377;<%= lasta %> &#8377;<%= buya %>/&#8377;<%= sella %> <%= vola %> <%= basa %>
        </div>

       <div id="xrpinr" class="items">
          2   <%= name2 %> &#8377;<%= last2 %> &#8377;<%= buy2 %>/&#8377;<%= sell2 %> <%= volume2 %> <%= base2 %>
       </div>

       <div id="ethinr" class="items">
          3   <%= name3 %> &#8377;<%= last3 %> &#8377;<%= buy3 %>/&#8377;<%= sell3 %> <%= volume3 %> <%= base3 %>
       </div>

       <div id="trxinr" class="items">
          4   <%= name4 %> &#8377;<%= last4 %> &#8377;<%= buy4 %>/&#8377;<%= sell4 %> <%= volume4 %> <%= base4 %>
       </div>

       <div id="eosinr" class="items">
          5   <%= name5 %> &#8377;<%= last5 %> &#8377;<%= buy5 %>/&#8377;<%= sell5 %> <%= volume5 %> <%= base5 %>
       </div>

       <div id="zilinr" class="items">
          6   <%= name6 %> &#8377;<%= last6 %> &#8377;<%= buy6 %>/&#8377;<%= sell6 %> <%= volume6 %> <%= base6 %>
       </div>

       <div id="batinr" class="items">
          7   <%= name7 %>  &#8377;<%= last7 %> &#8377;<%= buy7 %>/&#8377;<%= sell7 %> <%= volume7 %> <%= base7 %>
       </div>

       <div id="zrxinr" class="items">
          8   <%= name8 %> &#8377;<%= last8 %> &#8377;<%= buy8 %>/&#8377;<%= sell8 %> <%= volume8 %> <%= base8 %>
       </div>

       <div id="omginr" class="items">
          9   <%= name9 %> &#8377;<%= last9 %> &#8377;<%= buy9 %>/&#8377;<%= sell9 %> <%= volume9 %> <%= base9 %>
       </div>
       
       <div id="iostinr" class="items">
          10   <%= name10 %> &#8377;<%= last10 %> &#8377;<%= buy10 %>/&#8377;<%= sell10 %> <%= volume10 %> <%= base10 %>
       </div>










  </body>
</html>
